<div class="login">
<h1> Hello and Welcome! <h1> 
<br>
<% if current_user %>
    <%= link_to 'Logout', '/logout', :data => { :confirm => 'Are you sure?' }%>
<% else %>
    <%= link_to 'Signup', '/signup', class: "contact-btn btn btn-outline-primary" %>
    <br>
    <%= link_to 'Login', '/login', class: "contact-btn btn btn-outline-primary" %>
<% end %>
</div>
